body {
  display: flex;
  flex-direction: column;
  // background: linear-gradient(0deg, #aed1f7, #aecdee 90%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: #47E5A0;
  padding: 1rem;
}
.logo {
  max-width: 200px;
}
.main {
  flex: 1;
}
footer {
  height: 12rem;
  width: 100vw;
  background-color: #47E5A0;
  margin: 2rem 0 0 0;
}
.input-group {
  width: 50vw;
}
.userSearch {
  color: white;
  background-color: darken(#47E5A0, 20%);
  &:hover {
    color: white;
    background-color: darken(#47E5A0, 15%);
  }
}
.showRepo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }
.showUser {
  color: #383838;
  text-align: center;
  span {
    color: #47E5A0;
  }
}
ul {
  flex: 1 1 33%;
  // background-color: #FDE74C;
  // padding: 1rem;
  border-radius: 0.25rem;
  // margin: 0.5rem;
}
li {
  list-style: none;
  text-transform: capitalize;
  color: darken(#FDE74C, 35%);
  background-color: darken(#FDE74C, 15%);
  padding: 1rem;
  border-radius: 4px 4px 0 0 ;
  // color: white;
  font-size: 1.5rem;
  &:last-child {
    padding: 1rem;
    font-size: 1rem;
    color: darken(#FDE74C, 35%);
    background-color: #FDE74C;
    border-radius: 0 0 4px 4px;
  }
}
