body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #35F2C3, #2D92FF);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
header {
  height: 12rem;
  width: 100vw;
  background-color: #47E5A0;
}
.main {
  flex: 1;
}
footer {
  height: 12rem;
  width: 100vw;
  background-color: #47E5A0;
}
form {
  width: 50%;
  margin:auto;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}
.output {
  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
}
li {
  list-style: none;
  text-transform: capitalize;
  background-color: #FDE74C;
  color: darken(#FDE74C, 35%);
  // color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  font-size: 2rem;
}
